@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

*|*._moz-textshadow-box {
	-moz-binding: url(chrome://textshadow/content/textshadow.xml#textshadow-box) !important;
}

*|*._moz-textshadow-box {
	background: transparent !important;
	border: none !important;
	bottom: auto !important;
	clear: none !important;
	clip: auto !important;
	color: inherit !important;
	counter-increment: none !important;
	counter-reset: none !important;
	cursor: inherit !important;
	direction: inherit !important;
	display: inline !important;
	float: none !important;
	font-family: inherit !important;
	font-style: inherit !important;
	font-size: 100% !important;
	font-size-adjust: inherit !important;
	font-stretch: inherit !important;
	font-variant: inherit !important;
	font-weight: inherit !important;
	height: auto !important;
	left: auto !important;
	letter-spacing: inherit !important;
	line-height: inherit !important;
	list-style: inherit !important;
	margin: 0 !important;
	max-height: none !important;
	max-width: none !important;
	min-height: 0 !important;
	min-width: 0 !important;
	orphans: inherit !important;
	outline: none !important;
	padding: 0 !important;
	page: auto !important;
	page-break-after: auto !important;
	page-break-before: auto !important;
	page-break-inside: auto !important;
	position: static !important;
	quotes: inherit !important;
	right: auto !important;
	text-align: inherit !important;
	text-decoration: inherit !important;
	text-indent: 0 !important;
	text-transform: inherit !important;
	top: auto !important;
	unicode-bidi: inherit !important;
	vertical-align: baseline !important;
	visibility: visible !important;
	white-space: inherit !important;
	widows: inherit !important;
	width: auto !important;
	word-spacing: inherit !important;
	z-index: auto !important;
}

*|*._moz-first-line-pseud,
*|*._moz-first-letter-pseud {
	background: transparent;
	border: none;
	bottom: auto;
	clear: none;
	clip: auto;
	color: inherit;
	counter-increment: none;
	counter-reset: none;
	cursor: inherit;
	direction: inherit;
	display: inline;
	float: none;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	font-size-adjust: inherit;
	font-stretch: inherit;
	font-variant: inherit;
	font-weight: inherit;
	height: auto;
	left: auto;
	letter-spacing: inherit;
	line-height: inherit;
	list-style: inherit;
	margin: 0;
	max-height: none;
	max-width: none;
	min-height: 0;
	min-width: 0;
	orphans: inherit;
	outline: none;
	padding: 0;
	page: auto;
	page-break-after: auto;
	page-break-before: auto;
	page-break-inside: auto;
	position: static;
	quotes: inherit;
	right: auto;
	text-align: inherit;
	text-decoration: inherit;
	text-indent: 0;
	text-transform: inherit;
	top: auto;
	unicode-bidi: inherit;
	vertical-align: baseline;
	visibility: visible;
	white-space: inherit;
	widows: inherit;
	width: auto;
	word-spacing: inherit;
	z-index: auto;
}

*|_moz-textshadow-dummy-box,
*|_MOZ-TEXTSHADOW-DUMMY-BOX {
	position: relative;
	visibility: hidden;
	z-index: -50;
}

*|_moz-textshadow-inner-box,
*|_moz-textshadow-base,
*|_moz-textshadow-original,
*|_moz-textshadow-shadow,
*|_moz-textshadow-shadow-part,
*|_MOZ-TEXTSHADOW-INNER-BOX,
*|_MOZ-TEXTSHADOW-BASE,
*|_MOZ-TEXTSHADOW-ORIGINAL,
*|_MOZ-TEXTSHADOW-SHADOW,
*|_MOZ-TEXTSHADOW-SHADOW-PART {
	font-family: inherit !important;
	font-style: inherit !important;
	font-size: 100% !important;
	font-size-adjust: inherit !important;
	font-stretch: inherit !important;
	font-variant: inherit !important;
	font-weight: inherit !important;
	letter-spacing: inherit !important;
	text-align: inherit !important;
	text-transform: inherit !important;
	word-spacing: inherit !important;
}

*|*[_moz-pseud-dynamic-hover]:not(:hover) *|*[type="hover"],
*|*[_moz-pseud-dynamic-focus]:not(:focus) *|*[type="focus"],
*|*[_moz-pseud-dynamic-active]:not(:active) *|*[type="active"],
*|*[_moz-pseud-dynamic-hover]:hover *|*[has-hover] > *|*[type]:not([type="hover"]),
*|*[_moz-pseud-dynamic-focus]:focus *|*[has-focus] > *|*[type]:not([type="focus"]),
*|*[_moz-pseud-dynamic-active]:active *|*[has-active] > *|*[type]:not([type="active"]) {
	display: none !important;
}

